* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loom-companion-mv3, #shadow-host-companion {
    display: none !important;
}


/* Entry */

.entry{
    height: 100%;
    width: 100%;
    background-image: url('/fond-blanc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bsd{
    position: absolute;
    top: 4px;
    right: 4px;
    color: #E46204;
    height: 5px;
}


.logo-entry{
    width: 300px;
    height: 300px;
}

.countdown{
    height: fit-content;
    color: #E46204;
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time{
    text-align: center;
    font-size: larger;
    background-color: rgba(245, 245, 220,0.3);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entry-lien{
    height: fit-content;
}

.invit-button{
    height: 50px;
    width: 160px;
    margin-bottom: 80px;
    background-color: transparent;
    border: #E46204 solid 2px;
    border-radius: 10px;
    color: #E46204;
}

.fleurs-entry{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: 0;
}

.fleur-entry-gauche, .fleur-entry-droite{
    width: 180px;
    height: 90px;
}

